version: "3.0"

services:
  front:
    container_name: "front"
    volumes:
      - ./front:/front
    build: ./front
    tty: true
  api:
    container_name: "api"
    volumes:  
      - ./api:/api
    build: ./api
    ports:
      - 50050:50050
    command: ["uvicorn", "src.main:app", "--host", "0.0.0.0",
              "--port", "50050", "--reload", "--log-config", "./log.ini"]
    env_file: .env
